.wow {
    visibility: hidden;
}

@-webkit-keyframes fade_top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fade_top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fade_top {
    -webkit-animation-name: fade_top;
    animation-name: fade_top;
}

.swiper-pagination-progressbar {
    background: rgb(0 0 0 / 3%);
}

@-webkit-keyframes slide_left {
    0% {
        left: 0%;
    }

    100% {
        left: -30%;
    }
}

@keyframes slide_left {
    0% {
        left: 0%;
    }

    100% {
        left: -30%;
    }
}

.slide_left {
    -webkit-animation-name: slide_left;
    animation-name: slide_left;
}

@-webkit-keyframes slide_right {
    0% {
        right: 0%;
    }

    100% {
        right: -30%;
    }
}

@keyframes slide_right {
    0% {
        right: 0%;
    }

    100% {
        right: -30%;
    }
}

.slide_right {
    -webkit-animation-name: slide_right;
    animation-name: slide_right;
}

@keyframes reveal {
    0% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}

.reveal {
    -webkit-animation-name: reveal;
    animation-name: reveal;
}


@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('../fonts/poppins/Poppins-Black.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/poppins/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/poppins/Poppins-Light.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/poppins/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/poppins/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes lodaing {
    0% {
        opacity: 1;
        z-index: 9998;
    }

    50% {
        opacity: 1;
        z-index: 9998;
    }

    90% {
        opacity: 0;
    }

    100% {
        z-index: 9998;
    }
}

@keyframes logo_loading {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

:root {
    --common-transition: all 0.6s ease;

    /* backgroun */
    --header-background: transparent;
    --footer-background: #fff;
    --sidepanel-background: #fff;

    /* font */
    --link-font-size: 1rem;
    --light-font-family: "Poppins-Light";
    --regular-font-family: "Poppins-Regular";
    --medium-font-family: "Poppins-Medium";
    --semibold-font-family: "Poppins-SemiBold";
    --bold-font-family: "Poppins-Bold";
    --black-font-family: "Poppins-Black";


    /* color */
    --primary-color: #000;
    --highlight-color: #000;
    --color-base-1: #000;
}

::-webkit-scrollbar {
    width: 4px;
    /* Width of the vertical scrollbar */
    height: 4px;
    /* Height of the horizontal scrollbar */
}

/* Remove the up/down arrow buttons on the scrollbar */
::-webkit-scrollbar-button {
    display: none;
}

/* The scrollbar track (background of the scrollbar) */
::-webkit-scrollbar-track {
    background-color: transparent;
    /* Transparent background */
}

/* The draggable part of the scrollbar (thumb) */
::-webkit-scrollbar-thumb {
    background-color: var(--highlight-color);
    /* Color of the scrollbar thumb */
    border-radius: 2px;
    /* Rounded corners */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--highlight-color);
    /* Darker color when hovered */
}

/* Custom scrollbar for Firefox */
* {
    scrollbar-width: thin;
    /* Thin scrollbar */
    scrollbar-color: var(--highlight-color) transparent;
    /* Thumb color and track color */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: var(--regular-font-family);
    color: var(--primary-color);
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: auto !important;
}

div:focus-visible,
img:focus-visible,
button:focus-visible {
    outline: none;
    border: none;
}

img {
    max-width: 100%;
    transition: var(--common-transition);
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    display: block;
}

.section-padding {
    padding: 8rem 0;
}

.section-padding-small {
    padding: 2rem 0;
}

p.smallest-font {
    font-size: 1rem;
}

.font_13 {
    font-size: 13px;
}

.font_15 {
    font-size: 14px;
}

.font_18 {
    font-size: 13px;
}

.font_20 {
    font-size: 15px;
}

.font_25 {
    font-size: 20px;
}

.font_30 {
    font-size: 28px;
}

.link-font-size a p,
.link-font-size a p span.material-symbols-outlined,
.link-font-size p {
    font-size: var(--link-font-size);
}

html {
    height: auto;
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    line-height: 1.2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sangath_wrapper,
body {
    line-height: 1.2;
    width: 100%;
}

.relative {
    position: relative;
}

.abs {
    position: absolute;
}

.fxd {
    position: fixed;
}

.grid {
    display: grid;
}

.inner-flex {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.pd0-20 {
    padding: 0 24px;
}

.pd20 {
    padding: 24px;
}

.pdt20 {
    padding-top: 18px;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.w95 {
    width: 95%;
}

.g25 {
    gap: 25px;
}

.gc25 {
    column-gap: 25px;
}

.gr40 {
    row-gap: 70px;
}

.main-container-fluid {
    width: 95%;
    margin: 0 auto;
}

.main-container {
    width: 85%;
    margin: 0 auto;
}

.mini-container {
    width: 65%;
    margin: 0 auto;
}

.m-auto {
    margin: auto;
}

.m-autoL {
    margin-left: auto;
}

.m-autoR {
    margin-right: auto;
}

.btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1.25rem;
    transition: var(--common-transition);
    border-radius: 0.5rem;
    width: fit-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn.btn-next {
    text-transform: uppercase;
    border-radius: 0;
    background: #000;
    border: solid 1px white;

    * {
        color: white;
    }

    &:hover {
        background: white;
        border-color: black;

        * {
            color: black;
        }
    }
}

/* .loading_div.no_load{
    display: none;
} */

.loading_div {
    background: #000;
    top: 0;
    left: 0;
    place-items: center;
    animation: lodaing 5s linear;
    /* animation-delay: 2s; */
    opacity: 0;
    z-index: -9998;
}

.loading_div .logo {
    width: 20%;
    filter: invert(1);
    animation: logo_loading 3s ease;
    /* opacity: 0; */
    /* animation-delay: 1s; */
    z-index: 9999;
    pointer-events: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9995;
    width: 100%;
}

.navbar {
    width: 100%;
    background: var(--header-background);
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

.navbar .logo {
    width: 170px;
    z-index: 9997;

}

/* .navbar .menu_icon div {
    width: 25px;
    height: fit-content;
    position: absolute;
}
.navbar .menu_icon span {
    width: 100%;
    height: 3px;
    margin-top: 3px;
    background-color: black;
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.navbar .menu_icon div span:nth-child(1) {
    
}
.navbar .menu_icon div span:nth-child(2) {
    
}
.navbar .menu_icon div span:nth-child(3) {
    
}
.navbar .menu_icon div:hover span:nth-child(2) {
    opacity: 0;
}
.navbar .menu_icon div:hover span:nth-child(1) ,
.navbar .menu_icon div:hover span:nth-child(3) {
   
}
.navbar .menu_icon div:hover span:nth-child(1) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); 
}
.navbar .menu_icon div:hover span:last-child {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
} */

button {
    background: transparent;
    border: 0;

    &:focus {
        outline: none;
    }
}

.burger {
    position: relative;
    width: 30px;
    height: 24px;
    cursor: pointer;
    z-index: 9997;


    span {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 2px;
        transition: all .8s ease;
        background: var(--color-base-1);

        &:nth-child(2) {
            top: 8px;
        }

        &:last-child {
            top: 16px;
        }
    }
}

.nav-open {
    span {
        transition: all .8s ease;

        &:first-child,
        &:last-child {
            top: 8px;
        }

        &:first-child {
            transform: rotate(-45deg);
        }

        &:last-child {
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            opacity: 0;
            visibility: hidden;
        }
    }

    .sidepanel_overlay {
        display: block;
    }

    .sidepanel {
        right: 0;
        opacity: 1;
        transition: right .8s ease, opcaity 2s linear;

        p {
            animation: reveal 1.5s ease 0.5s;
        }
    }
}

.sidepanel_overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9996;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #00000059;
}

.sidepanel {
    width: 20%;
    height: 100svh;
    background: var(--sidepanel-background);
    /* background: red; */
    position: fixed;
    top: 0;
    right: -100%;
    opacity: 0;
    z-index: 9996;
    transition: right .8s ease, opcaity 2s linear;

    .nav_links {
        margin-top: 150px;
        margin-right: 25px;
        text-align: right;
    }

    .link {
        list-style: none;
        margin: 20px 0;
        background: var(--sidepanel-background);
        width: 100%;
        overflow: hidden;

        a {
            width: fit-content;
            text-decoration: none;

            &:hover p {
                font-family: var(--semibold-font-family);
            }
        }

        p {
            font-family: var(--light-font-family);
        }
    }

    .link.active p {
        font-family: var(--semibold-font-family);
    }
}


.grid_div {
    grid-template-columns: repeat(5, 1fr);
    grid-row: auto;
}

.grid_item {
    grid-template-columns: 1fr;
    grid-row: auto auto;
    place-items: center;
    text-align: center;
}

.grid_item .project_img,
.grid_item .project_icon {
    top: 0;
    left: 0;
}

.grid_item .project_img,
.grid_item:hover .project_icon {
    opacity: 0;
}

.grid_item .project_icon,
.grid_item:hover .project_img {
    opacity: 1;
}

.grid_item .project_img {
    width: 100%;
    object-fit: cover;
    object-position: center
}

.grid_item .project_icon {
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid_item a {
    text-decoration: none;
    cursor: pointer;
}

.grid_item .img_container {
    overflow: hidden;
    aspect-ratio: 14/9;
}

.grid_item .img_container div {
    transition: opacity .5s ease;
}

.grid_item .project_text {
    padding: 1.5rem 0;
}

.grid_item .project_text .project_name {
    text-transform: uppercase;
}

.grid_item .project_text .project_location {
    --primary-color: #2e2e2e;
    font-family: var(--light-font-family);
}

footer {
    width: 100%;
    z-index: 9995;
}

.footer {
    text-align: right;
    color: #1e1e1e;
    padding-right: 3%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--footer-background);
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

@media only screen and (max-width:1680px) {
    .gr40 {
        row-gap: 50px;
    }
}

@media only screen and (max-width:1600px) {
    .gr40 {
        row-gap: 40px;
    }
}

@media only screen and (max-width:1440px) {
    .gr40 {
        row-gap: 30px;
    }
}

@media only screen and (max-width:1366px) {
    .section-padding {
        padding: 7rem 0;
    }

    .pd20 {
        padding: 20px;
    }

    .pdt20 {
        padding-top: 18px;
    }

    .gr40 {
        row-gap: 28px;
    }

    .font_30 {
        font-size: 22px;
    }

    .navbar .logo {
        width: 135px;
    }

    .sidepanel {
        width: 25%;

        .nav_links {
            margin-top: 100px;
        }
    }

    .grid_item .img_container {
        aspect-ratio: 13/9;
    }

    .grid_item .project_text {
        padding: 1.2rem 0;
    }
}

@media only screen and (max-width:1280px) {
    .section-padding {
        padding: 6rem 0;
    }
}

@media only screen and (max-width:1152px) {
    .font_30 {
        font-size: 20px;
    }

    .pdt20 {
        padding-top: 16px;
    }

    .navbar .logo {
        width: 125px;
    }
}

@media only screen and (max-width:1024px) {
    .gc25 {
        column-gap: 20px;
    }

    .gr40 {
        row-gap: 50px;
    }

    .sidepanel {
        width: 35%;
    }

    .loading_div .logo {
        width: 45%;
    }

    .grid_div {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid_item .img_container {
        aspect-ratio: 16/9;
    }

    .grid_item .project_text {
        padding: .5rem 0;
    }
}

@media only screen and (max-width:991px) {
    .sidepanel {
        width: 50%;
    }

    .font_30 {
        font-size: 22px;
    }

    .footer {
        padding-right: 0;

        &.pd20 {
            padding: 7px 20px;
        }
    }
}

@media only screen and (max-width:767px) {
    .font_13 {
        font-size: 15px;
    }

    .grid_div {
        grid-template-columns: repeat(2, 1fr);
    }

    .gr40 {
        row-gap: 35px;
    }

    footer .pd20 {
        padding: 13px;
    }

    .sidepanel {
        width: 100%;
        /* max-height: 2svh; */
        top: -100%;
        left: 0;
        right: unset;
        transition: max-height .8s linear;
        opacity: 0;
        /* pointer-events: none; */

        .nav_links {
            margin-top: 100px;
            margin-left: 20px;
            margin-right: unset;
            text-align: left;
        }

        .link {}

        .link.active p {}
    }

    .nav-open {
        .sidepanel {
            top: 0;
            right: unset;
            /* max-height: 100svh; */
            transition: top .8s linear, opcaity .8s linear;
            /* transition: max-height .8s linear, opcaity .8s linear; */
            /* pointer-events: all; */
        }
    }

    .grid_item .img_container {
        aspect-ratio: 20/9;
    }

    .grid_item .project_img {
        opacity: 0;
    }

    .grid_item:hover .project_img {
        opacity: 0;
    }

    .grid_item .project_icon {
        width: 40%;
    }

    .grid_item:hover .project_icon {
        opacity: 1;
    }
}

@media only screen and (max-width:680px) {}

@media only screen and (max-width:486px) {
    .gr40 {
        row-gap: 60px;
    }

    .loading_div .logo {
        margin-bottom: 80px;
        width: 60%;
    }

    .grid_item .img_container {
        aspect-ratio: 17/9;
    }

    .grid_item .project_icon {
        width: 55%;
    }
}

@media only screen and (max-width:370px) {}